@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --background: #161515;
    --text-color: #FFFFFF;
    --tertiary-color: #c92828;
}

body, textarea{
    margin: 0;
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Poppins';
    font-size: 13px;
}


/*NAVIGATION */


.container .navigation-bar {
    padding-top: .5em;
    padding-left: 1em;
    position: fixed;
    top: 0;
    z-index: 1;   
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    padding-bottom: .5m;
    
}

.logo {
    font-family: 'Paytone One';
    color: white;
    font-size: 22px;
    padding-left: 17px;
    margin-top: .95em;
}

a {
    text-decoration: none;
}

svg{
    margin-top: 1.4em;
    margin-right: 2em;
    margin-bottom: .2px;
    color: var(--tertiary-color);
}

.close-btn {
    margin: -.8em;
}
/*MENU OPEN AND CLOSE */

nav ul {
    background-color: var(--background);
    font-size: 11px;
    position: fixed;
    z-index: 1;
    top: 2em;
    right: 3em;
    box-shadow: 1px 12px 29px rgba(0, 0, 0, .2);
    height: 35vh;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.5); 
    width: 60%;
    padding: 3em;
    text-align: right;
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
}
nav ul li {
        cursor: pointer;
        margin: 4em 0;
        &:nth-of-type(1) {
            margin-bottom: 3em;
            margin-top: 0;
        }
}
nav ul li a {
            text-decoration: none;
            color: white;
            backdrop-filter: blur(100%);
            font-weight: 600;
            font-size: 1rem;
            padding-right: 1em;
            padding-top: 2em;
            &:hover {
                color: var(--tertiary-color);
            }
}

.logo:hover {
    color: var(--tertiary-color);
}

.open {
    transform: translateX(0%);
}

h1 {
    font-family: 'Paytone One';
    font-size: 45px;
    line-height: .7em;
}
h5 {
    color: grey;
    font-weight: normal;
}
.introduction {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin: 3em auto;
    background-color: var(--tertiary-color);
    border-radius: 11px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    opacity: 80%;
}

.contact-me-button {
    margin-top: 3em;
    margin-left: unset;
    height: 35px;
    width: 150px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
}

.qualities {
    display: flex;
    margin-top: 2em;
    gap: 1.5em;
}
.qualities.bottom {
    margin-top: 0;
}
.quality {
    border: 2px solid var(--tertiary-color);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
}
.quality.skills {
    width: 100%;
}

.photo {
    display: flex;
    justify-content: center;
    margin-top: 5em;
   
}

.myphoto {
    margin-top: 2em;
    width: 320px;
    height: fit-content;
}
.circle {
    width: 320px;
    height: 380px;
    background-color: var(--tertiary-color);
    position: absolute;
    z-index: -1;
    border-radius: 80% 50% 20% 20%;
    transform: rotate(-20deg);
    margin: 0 auto;
}
.myphoto:hover {
    cursor: default;
    transform: none;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 8em;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}




.cert-texts,
.cert-provider {
    width: 180px;
    font-size: 14px;
}

.cert-provider {
    color: #DF2C2C;
}

.certificates-container {
    display: grid;
    justify-content: center;
    margin: 1em auto;
}
.cert-text{
    width: 260px;
    margin: 2em auto;
    text-align: center;
}
.box {
    width: 270px;
    height: 182px;
    margin: 0 auto;
    transition: .2s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 7);
    cursor: pointer;
}

.horizontal-line {
    height: .7px;
    background-color: grey;
    margin-bottom: 4em;
}

.about-hero {
    text-align: center;
    padding-bottom: 2em;
}

.page-heading {
    font-family: 'Paytone One';
    font-size: 30px;
}

.sub-heading {
    font-size: 12px;
    padding-bottom: 2em;
}

.about-text {
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.divider-line {
    height: 1px;
    width: 40%;
    background-color: var(--tertiary-color);
    margin: 3em auto;
}
.divider-line.project-line {
    height: 1px;
    width: 30%;
    background-color: grey;
    margin: 3em auto;
}


.hero-photo {
    display: none;
    width: 300px;
}

.frame {
    width: 70%;
    margin: 0 auto;

}
.project-image {
    width: 100%;
}
.box, .project-image {
    border-radius: 3px;
}

.skills-hero {
    padding-bottom: 5em;
}
.social-icons  {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin: 4em auto;
}

.social-icons svg {
    margin: 0;
    padding: .6em;
    border-radius: 6px;
    border: 2px solid;
    transition: transform .2s ease-in-out;
}
.social-icons svg:hover {
    transform: scale(1.1);
}
.page-heading,
.sub-heading {
    text-align: center;
}
.progress-container {
    display: grid;
    justify-content: center;
}
.progress-bar {
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 6px;
    width: 230px;
    transition: .2s ease-in-out;
}

.skill {
    margin-bottom: 20px;
}
.skill-code {
    border: 2px solid var(--tertiary-color);
    border-radius: 14px;
    display: flex;
    font-size: 80%;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 100px;

}

.hero-photo:hover {
    transition: none;
    cursor: default;
}
.send-message {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5em;
    margin-bottom: 0;
}
.progress-bar:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 40px rgba(0, 0, 0, 15);
}

.progress {
    height: 100%;
    background-color: #DF2C2C;
    border-radius: 10px 7px 7px 10px;
    box-shadow: 0 0 15px rgba(4, 0, 0, 10);
}

.progress-container {
    display: grid;
    justify-content: center;
    gap: 1em;
}


.project-name:hover, h5:hover {
    text-decoration: underline;
    cursor: pointer;

}
a h3 {
    text-decoration: none;
}


.ellipsis {
    overflow: hidden;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.footer-cont form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
      }
.footer-cont fieldset {
        border: none;
        padding: 2rem 0;
        border-bottom: 3px solid #3b3b4f;
      }
input, textarea {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #DF2C2C;
    border-bottom-width: 3px;
    border-radius: 3px;
    color: var(--text-color);
    background-color: var(--background);
    outline: none;
}
input:active {
    outline: none;
}

.submit-btn {
    background-color: var(--tertiary-color);
    border: none;
    height: 34px;
}
.submit-btn:hover {
    opacity: 90%;
    cursor: pointer;
}
.submit-btn:active {
    opacity: 70%;

}
.error-message {
    color: rgb(226, 66, 66);
    font-size: 11px;
    margin-top: 4px;
  }

     
 .footer-cont fieldset:last-of-type {
        border-bottom: none;
      }
      
.footer-cont label {
        display: block;
        margin: 0.5rem 0;
      }

      input,
      textarea,
      select {
        margin: 10px 0 0 0;
        width: 100%;
        min-height: 2em;
      }
@media (min-width: 800px) {
    .logo {
        margin-left: 3em;
        font-size: 20px;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .photo {
        margin: 0;
    }
    .myphoto {
        margin-top: 3em;
        width: 350px;
        height: fit-content;
    }
    .circle {
        width: 350px;
        height: 400px;
        margin: 2em auto;
    }
    svg {
        display: none;
    }
    .social-icons svg {
        display: unset;
       
    }
    .menu-close {
        display: none;
    }

    .intro-text {
        width: 350px;
    }
    .qualities {
        justify-content: start;
    }
    h1 {
        font-size: 45px;
    }
    .button {
        justify-content: start;
    }
    .contact-me-button {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    nav ul {
        padding: 1.5em;
        padding-top: 3em;
        padding-right: 10em;
        padding-bottom: 0;
        position: unset;
        background: none;
        display: flex;
        backdrop-filter: none;
        background: none; 
        box-shadow: none;
        margin-top: -4.5em;
        gap: 5em;
        color: var(--tertiary-color);
        height: auto;
        width: auto;
        transform: translateX(0%);
        li a {
            list-style: none;
            font-size: 12px;
        }
        .active {
            color: var(--tertiary-color);
            font-weight: 800;
        }
    }
    .footer-container {
        flex-direction: column;
    }

    .form-container {
        display: flex;
        justify-content: center;
        gap: 4em;
    }
    .message {
        height: 156px;
        width: 250px;
    }




    .certificates-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, .1fr));
        padding-left: 5em;
        justify-content: center;
        gap: 1em;
        margin: 0 auto;
        width: 80%;
    }
    .cert-text {
        width: 500px;
    }


    .box {
        width: 200px;
         height: 142px;
    }
    
    
    .box.freeCode {
        width: 210px;
    }
    .horizontal-line {
        display: none;
    }
    .cert-provider {
        margin-bottom: 5em;
    }

    .about-hero {
        width: 70%;
        margin: auto;
    }
    .hero-about {
        display: flex;
    }
    .hero-photo {
        display: flex;
        width: 400px;
        opacity: 30%;
        min-height: 80vh;
    }

    .progress-container {
        display: flex;
        justify-content: center;
        gap: 5em;
    }


    .frame {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .project-desc,h5, .project-name{
        margin-top: 0;
        width: 300px;
        margin-right: 0;
        margin-left: 30px;
    }
    .project-image {
        width: 220px;
    }
    .skill-code {
        margin-left: 2.5em;
        margin-top: -1em;
    }
    .ellipsis {
        width: 180px;

    }
    



}
